.contacts-link {
  color: #2e2f42;
}
.contacts-link:hover,
.contacts-link:focus,
.contacts-link:active {
  color: #404bbf;
}
.nav-list {
  list-style: none;
}

.logo-span {
  color: #2e2f42;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #404bbf;
}

.contacts-link {
  color: #434455;
}

.contacts {
  font-style: normal;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.logo {
  margin-right: 76px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.contacts-list {
  display: flex;
  allow-items: center;
  gap: 40px;
}

.contacts-link {
  display: flex;
  align-items: center;
  height: 72px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
