.team {
  background-color: #f4f4fd;
}
.team-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-title-name {
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
}

.team-item {
  background-color: #ffffff;
}

.team-text {
  text-align: center;
  color: #434455;
}
